a {
  color: #00B7FF;
}
.brand-logo img {
  height: 55px;
  padding-top: 15px;
  padding-left: 15px;
}

nav .nav-wrapper {
  background-color: #0097a7;
}

.side-nav {
  background-color: #0097a7 !important;
}

.side-nav a {
  color: #FFF !important;
}

.card {
  border: 1px solid black;
  margin-bottom: 10px;
  display: block;
  contain: layout;
}

.name{

  }

.buttonArea {
  background: #fff;
  float: left;
  padding: 5px;
}


.btn-floating {
  margin: 5px;
}
.buttonArea button{
  border: 0;
}

.buttonArea2 {
  background: #0097a7 !important;
  float: right;
}
