a {
  color: #00B7FF;
}
.brand-logo img {
  height: 55px;
  padding-top: 15px;
  padding-left: 15px;
}

nav .nav-wrapper {
  background-color: #0097a7;
}

.side-nav {
  background-color: #0097a7 !important;
}

.side-nav a {
  color: #FFF !important;
}
