a {
  color: #00B7FF;
}
.brand-logo img {
  height: 55px;
  padding-top: 15px;
  padding-left: 15px;
}

nav .nav-wrapper {
  background-color: #0097a7;
}

.side-nav {
  background-color: #0097a7 !important;
}

.side-nav a {
  color: #FFF !important;
}

.card {
  border: 1px solid black;
  margin-bottom: 10px;
  display: block;
  contain: layout;
}

.name{

  }

.buttonArea {
  background: #fff;
  float: left;
  padding: 5px;
}


.btn-floating {
  margin: 5px;
}
.buttonArea button{
  border: 0;
}

.buttonArea2 {
  background: #0097a7 !important;
  float: right;
}

.calendar li {
  display: inline-block;
  float: left;
  width: 14.285%;
}
.calendar li div {
  margin: 5px auto;
  height: 100px;
  width: 100px;
  background: #bababa;
  border-radius: 50%;
  font-size: 2em;
  text-align: center;
  padding-top: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,.2);
}
.calendar li.completed div {
  background: #94d9ab;
}
